---
/**
 * --------------------------------------------------------------------------- *
 *                     Copyright (c) by BookOfFretsX 2026                      *
 * --------------------------------------------------------------------------- *
 * @license https://github.com/TheAncientOwl/book-of-frets-x/blob/main/LICENSE
 *
 * @file Display.astro
 * @author Alexandru Delegeanu
 * @version 1.0
 * @description Chord display component with structural modifier sizing.
 */

interface Props {
  name: string;
}

const { name } = Astro.props;

const isSingleChar = name.length === 1;
const chord = isSingleChar ? '' : name[0];
const mod = isSingleChar ? '' : name.substring(1);
---

{
  isSingleChar ? (
    name
  ) : (
    <span>
      {chord}
      <span class='text-[0.8em]'>{mod}</span>
    </span>
  )
}
