---
/**
 * --------------------------------------------------------------------------- *
 *                     Copyright (c) by BookOfFretsX 2026                      *
 * --------------------------------------------------------------------------- *
 * @license https://github.com/TheAncientOwl/book-of-frets-x/blob/main/LICENSE
 *
 * @file MainLayout.astro
 * @author Alexandru Delegeanu
 * @version 1.0
 * @description App main layout.
 */
---

<!doctype html>
<html lang='en'>
  <head>
    <!-- Misc -->
    <meta charset='utf-8' />
    <link rel='manifest' href='favicon/site.webmanifest' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <!-- Favicon -->
    <link
      id='dynamic-1'
      rel='icon'
      type='image/png'
      href='favicon/favicon-96x96.png'
      sizes='96x96'
    />
    <link id='dynamic-2' rel='icon' type='image/svg+xml' href='favicon/favicon.svg' />
    <link id='dynamic-3' rel='shortcut icon' href='favicon/favicon.ico' />
    <link
      id='dynamic-4'
      rel='apple-touch-icon'
      sizes='180x180'
      href='favicon/apple-touch-icon.png'
    />

    <!-- Description -->
    <meta
      name='description'
      content='Book Of Frets - Explore guitar chords, song sheets, and tutorials for guitar players. Find chord charts, song patterns, and learn new songs easily.'
    />

    <!-- Astro -->
    <meta name='generator' content={Astro.generator} />

    <!-- Title -->
    <title>𝐁𝐨𝐨𝐤 𝐎𝐟 𝐅𝐫𝐞𝐭𝐬</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
